@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  line-height: 1.5;
  min-height: 100vh;
  height: 100%;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}
.MuiDataGrid-root .MuiDataGrid-cell {
  border: 1px solid #e0e0e0;
}
.custom-w {
  left: 380px;
  width: calc((100% - 380px));
}

@media screen and (max-width: 912px) {
  .custom-w {
    left: 0px;
    width: 100%;
  }
}
.hide-scroll::-webkit-scrollbar {
  display: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
input {
  outline: nonee;
}

input {
  outline: none;
}
textarea {
  resize: none;
}
.textarea::-webkit-scrollbar {
  display: none;
}
input::placeholder {
  white-space: normal;
}
.custom-scroll::-webkit-scrollbar {
  width: 07px;
}
.custom-scroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #acacac;
  border-radius: 10px;
  height: 07px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: #acacac;
  border-radius: 10px;
}
.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: #e5e7eb;
}

@media screen and (min-width: 768px) {
  .card-img:hover .ed-btn {
    bottom: 100% !important;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
  }
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  li {
    list-style-type: none;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
@layer components {
  .container {
    max-width: 1380px;
    margin: 0 auto;
  }
  .black-btn {
    @apply bg-black text-white w-full lg:text-xl  md:text-base md:font-bold font-semibold text-sm md:mx-auto lg:py-[15px] md:py-1 py-0.10 md:px-4 px-2 lg:rounded-md md:rounded-sm rounded-xs uppercase md:hover:shadow-2xl shadow-none md:cursor-pointer cursor-none item-center;
  }
  .item-center {
    @apply flex items-center justify-center;
  }
  .gray-btn {
    @apply capitalize small-btn-border-radius cursor w-full text-white bg-gray-500 hover:bg-gray-400 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium border-gray-300 text-sm px-5 py-2.5 text-center;
  }
  .blue-btn {
    @apply capitalize small-btn-border-radius cursor w-full text-white bg-black hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium border-gray-300 text-sm px-5 py-2.5 text-center;
  }
  .profile-edit-container {
    @apply bg-gray-200 lg:rounded-sm rounded-xs md:p-sm-ly-pad p-0.5 flex flex-col md:gap-0.10 gap-0.8;
  }
  .tab {
    @apply text-black flex-1 lg:px-1 md:px-sm-ly-pad px-0.8  lg:py-2 md:py-1 py-0.10 capitalize lg:text-xl md:text-base text-sm md:font-bold font-semibold lg:rounded-md rounded-1 outline-none md:cursor-pointer cursor-none;
  }
  .sub-tab {
    @apply text-black lg:p-1 md:p-0.10 p-0.5 capitalize lg:text-base md:text-sm text-xs md:font-bold font-semibold md:rounded-[30px] rounded-[20px] outline-none md:cursor-pointer cursor-none text-center;
  }
  .underline-tab {
    @apply text-black text-nowrap lg:px-1 md:px-sm-ly-pad px-0.8  lg:py-2 md:py-1 py-0.10 capitalize lg:text-xl md:text-base text-sm md:font-bold font-semibold md:cursor-pointer cursor-none;
  }
}

@layer utilities {
  .page-container {
    @apply relative lg:min-h-[calc(100vh-122px)] h-auto m-auto md:min-h-[calc(100vh-114px)] min-h-[calc(100vh-50px)] bg-gray-100;
  }
  .page-container-without-bg {
    @apply relative lg:min-h-[calc(100vh-100px)] h-auto m-auto md:min-h-[calc(100vh-80px)] min-h-[calc(100vh-50px)];
  }
  .layout-box-shadow {
    @apply lg:shadow-xl md:shadow-lg shadow-md;
  }
  .layout-pad {
    @apply lg:p-ly-pad md:p-md-ly-pad p-sm-ly-pad;
  }
  .cursor {
    @apply md:cursor-pointer cursor-none;
  }

  .flex-between {
    @apply flex justify-between;
  }
  .pad-y {
    @apply py-4;
  }
  .pad-x {
    @apply px-4;
  }
  .fieldset-border {
    @apply relative lg:border-2 md:border-1 border-1 border-slate-gray border-solid md:rounded-sm  sm:rounded-xs rounded-[0px]  md:p-6 p-1 pt-2;
  }
  /* top-0 left-0 ml-3 lg:-mt-3 md:-mt-2  -mt-1 */
  .field-legend {
    @apply absolute  top-0 left-0 -translate-y-2/4 lg:ml-2 md:ml-1 ml-4xl capitalize lg:p-4xl md:p-3xl p-2xl  bg-slate-gray leading-none xl:text-lg lg:text-base md:text-sm text-xs md:font-bold font-medium md:rounded-xs rounded-xxs;
  }
  .input-lable {
    @apply block  lg:text-lg md:text-base   text-sm md:font-semibold font-medium text-primary  capitalize;
  }
  .modal-input-label {
    @apply block  md:text-base  text-sm font-medium text-primary  capitalize;
  }
  .border {
    @apply border-1 border-solid;
  }
  .icon {
    @apply lg:text-2xl md:text-xl text-base cursor-pointer text-black-50;
  }
  .block_container {
    @apply w-full item-center gap-1 flex-col bg-white shadow-2xl lg:p-2 md:p-1 p-0.5;
  }
  .left-label {
    @apply lg:text-lg md:text-base text-sm md:font-bold font-medium text-primary capitalize;
  }
  .edit-label {
    @apply md:text-sm text-xs font-medium text-blue-800 hover:underline  hover:underline-offset-4 cursor-pointer capitalize;
  }
  .desc-label {
    @apply md:text-base text-xs md:font-bold font-semibold text-light-gray;
  }
  .border-bottom {
    @apply border-b-2 border-solid border-slate-gray;
  }
  .flex-column {
    @apply flex md:flex-row flex-col;
  }
  .f-col {
    @apply flex flex-col;
  }

  .card-h {
    @apply h-[140px] md:h-[150px] object-cover;
  }
  .nav-link {
    @apply text-black  transition-all lg:text-lg md:text-base text-base  font-normal  capitalize md:hover:text-gray-600 text-nowrap lg:w-auto w-full block px-0.5 md:border-none border-b-[1px] md:py-1 py-0.10 border-slate-400  md:hover:underline;
  }
  .min-card-h {
    @apply lg:h-min-c-img-h md:h-md-min-c-img-h h-sm-min-c-img-h;
  }
  .card-text {
    @apply text-grey md:text-base text-sm font-medium capitalize;
  }

  .tag-text {
    @apply text-grey md:text-base text-sm font-medium capitalize bg-gray-300 lg:p-3xl md:p-2xl sm:p-xl p-lg leading-none rounded-1;
  }
  .info-label-gap {
    @apply flex md:gap-1 gap-sm;
  }
  .info-label-text-bold {
    @apply text-primary md:text-base sm:text-sm text-xs md:font-bold font-medium capitalize text-nowrap;
  }
  .info-label-text {
    @apply text-grey md:text-base sm:text-sm text-xs md:font-medium font-normal capitalize text-nowrap;
  }
  .gig-detail-heading {
    @apply md:text-base text-sm lg:font-bold md:font-semibold font-medium text-grey;
  }
  .bid-detail-heading {
    @apply md:text-base text-sm lg:font-bold md:font-semibold font-medium text-black;
  }
  .white-shadow {
    @apply shadow-2xl bg-white;
  }
  .gray-circle {
    @apply bg-gray-300 lg:text-lg  text-sm rounded-full md:h-sm-img md:w-sm-img w-xs-img h-xs-img item-center md:cursor-pointer;
  }
  .menu-width {
    @apply xl:w-xl-menu-width lg:w-lg-menu-width md:w-md-menu-width w-sm-menu-width;
  }
  .alert-gap {
    @apply flex flex-col md:gap-sm gap-xs;
  }
  .small-btn-border-radius {
    @apply lg:rounded-sm md:rounded-xs rounded-xxs;
  }
  .gig-label {
    @apply lg:text-2xl md:text-xl text-lg md:font-semibold  font-medium text-black capitalize;
  }
  .card-pic {
    @apply flex flex-col items-center justify-center border-2 border-gray-300 border-dashed cursor-pointer bg-gray-50 dark:hover:bg-gray-800  hover:bg-gray-100  overflow-hidden relative small-btn-border-radius lg:p-2 md:p-1 p-0.10 w-[230px] h-[150px];
  }
  .gap {
    @apply lg:gap-1 md:gap-0.10 gap-0.8;
  }
  .t-cell {
    @apply relative md:border-2 border-1 border-solid border-gray-300 lg:p-4xl md:p-3xl p-xl capitalize text-black break-words h-full;
  }
  .t-cell-w {
    @apply relative md:border-2 border-1 border-solid border-gray-300 lg:p-4xl md:p-3xl p-xl capitalize text-black break-words h-full;
  }
  .t-head-font {
    @apply lg:text-base md:text-sm text-xs md:font-extrabold font-bold bg-gray-200;
  }
  .text-input {
    @apply bg-gray-50 border resize-none text-gray-900  small-btn-border-radius focus:ring-primary focus:border-primary block xl:text-xl lg:text-lg md:text-base text-sm md:font-medium font-normal w-full md:p-[7px] p-[5px] placeholder:text-gray-400 overflow-hidden;
  }
  /* .text-input {
    @apply bg-gray-50 border resize-none text-gray-900  small-btn-border-radius lg:!indent-[53px] md:!indent-[39px] indent-[32px] focus:ring-primary focus:border-primary block xl:text-xl lg:text-lg md:text-base text-sm md:font-medium font-normal w-full md:p-[7px] p-[5px] placeholder:text-gray-400 overflow-hidden;
  } */
  .profile-input {
    @apply border border-primary text-primary placeholder-gray-400  lg:text-lg md:text-base text-sm font-normal small-btn-border-radius focus:ring-primary focus:border-primary block w-full lg:p-2.5 md:p-1 p-0.8;
  }
  .text-input-gig {
    @apply border-none outline-none focus:border-none focus:outline-none focus:ring-0 resize-none text-gray-900  block xl:text-base lg:text-sm text-xs md:font-semibold font-medium p-0 cursor placeholder:text-gray-400 w-11/12;
  }
  .text-input-with-border {
    @apply border border-primary resize-none text-gray-900  block xl:text-base lg:text-sm text-xs md:font-semibold font-medium md:p-2.5 p-1 small-btn-border-radius cursor placeholder:text-gray-400 w-full focus:ring-primary focus:border-primary;
  }
  .gig-decription {
    @apply border border-primary resize-none text-gray-900  block xl:text-lg lg:text-base text-sm md:font-medium font-normal md:p-2.5 p-1 small-btn-border-radius cursor placeholder:text-gray-400 w-full focus:ring-primary focus:border-primary  md:h-[320px] h-[270px];
  }
  .input-gig {
    @apply border border-primary text-primary  placeholder-gray-600  md:text-lg  text-sm small-btn-border-radius focus:ring-primary focus:border-primary capitalize block w-full md:p-2.5 p-1 !leading-none;
  }
  .gig-btn {
    @apply bg-black text-white lg:text-base md:text-sm md:font-bold font-semibold text-xs md:py-1 py-0.10 md:px-[20px] px-[16px] small-btn-border-radius  uppercase md:hover:bg-gray-800 shadow-none md:cursor-pointer cursor-none;
  }
  .btn {
    @apply text-white lg:text-base md:font-bold font-semibold md:text-sm text-xs md:py-1 py-0.10 md:px-4 px-1 small-btn-border-radius  uppercase flex items-center  md:cursor-pointer cursor-none;
  }
  .small-btn {
    @apply text-white md:text-base md:font-bold font-semibold text-sm md:py-0.8 py-0.10 md:px-1 px-0.10 small-btn-border-radius flex items-center justify-center uppercase md:cursor-pointer cursor-none;
  }
  .check-box-label {
    @apply capitalize inline-flex lg:text-lg md:text-base text-sm md:font-medium font-normal text-gray-900 dark:text-gray-300;
  }
  .general-pad {
    @apply lg:p-1 md:p-0.10 p-0.8;
  }
  .chat-navlink {
    @apply flex gap w-full items-center bg-gray-300 p-0.5 md:rounded-sm rounded-xs cursor-pointer hover:bg-gray-400;
  }
  .online-sign {
    @apply h-[9px] w-[9px]  block bg-green-400 rounded-full;
  }
  .heading {
    @apply lg:text-2xl md:text-xl text-lg text-grey md:font-bold font-semibold;
  }
  .bid-title {
    @apply md:text-xl text-lg md:font-semibold  font-medium text-grey;
  }
  .para {
    @apply text-grey md:text-base text-sm  md:font-medium font-normal tracking-wide;
  }
  .landing-pad-x {
    @apply lg:px-[30px] md:px-[25px] px-[20px];
  }
  .landing-pad-y {
    @apply lg:py-[40px] md:py-[35px] py-[30px];
  }
  .textarea-field {
    @apply border border-primary resize-none text-gray-900  block xl:text-lg md:text-base text-sm font-normal md:p-2.5 p-1 small-btn-border-radius cursor w-full focus:ring-primary focus:border-primary md:h-[320px] h-[270px] placeholder-gray-400;
  }
  .filteBlackBtn {
    @apply p-2.5 uppercase text-center bg-black lg:rounded-sm md:rounded-xs rounded-xxs enabled:focus:ring-0 enabled:hover:bg-black-90 text-white text-sm font-bold;
  }
  .filterGrayBtn {
    @apply p-2.5 uppercase text-center lg:rounded-sm md:rounded-xs rounded-xxs bg-gray-500 enabled:focus:ring-0 enabled:hover:bg-gray-400 text-white text-sm font-bold;
  }
  .table-dropdown-heading {
    @apply md:text-base text-sm md:font-bold font-semibold capitalize text-black;
  }
  .table-dropdown-description {
    @apply md:text-base text-sm md:font-medium font-normal text-gray-500;
  }
  .table-dropdown-image {
    @apply h-[60px] w-[60px] object-cover;
  }
  .lawyer-pic-admin {
    @apply lg:w-[70px] lg:h-[70px] md:w-[60px] md:h-[60px] w-[50px] h-[50px] object-cover;
  }
  .green-bg {
    @apply bg-green-500 hover:bg-green-400;
  }
  .red-bg {
    @apply bg-red-500 hover:bg-red-400;
  }

  .yellow-bg {
    @apply bg-yellow-300 hover:bg-yellow-200;
  }
  .blue-bg {
    @apply bg-blue-500 hover:bg-blue-400;
  }
  .gray-bg {
    @apply bg-gray-500 hover:bg-gray-400;
  }
  .black-bg {
    @apply bg-black hover:bg-gray-800;
  }
  .delete-btn {
    @apply flex items-center justify-center md:text-base text-sm red-bg text-white rounded-full md:h-8 md:w-8 h-6 w-6;
  }
  .update-btn {
    @apply md:w-[35px] md:h-[35px] item-center text-white md:p-0.8 p-0.5 lg:text-2xl md:text-xl text-lg blue-bg md:rounded-xxs rounded-xxs;
  }
  .delete-btn {
    @apply md:w-[35px] md:h-[35px] item-center text-white md:p-0.8 p-0.5 lg:text-2xl md:text-xl text-lg red-bg md:rounded-xxs rounded-xxs;
  }
}

.chat-navlink.active {
  @apply bg-gray-400;
}
@media screen and (max-width: 912px) {
  #root {
    /* position: relative; */
    /* overflow-y: auto; */
    top: 0;
  }
}
.tab.react-tabs__tab--selected {
  @apply bg-black text-white transition-all;
  animation: fadeIn 0.5s ease;

  /* Adjust the duration and timing function as needed */
}
.sub-tab.react-tabs__tab--selected {
  @apply bg-black text-white transition-all;
  animation: fadeIn 0.5s ease;

  /* Adjust the duration and timing function as needed */
}
.underline-tab.active {
  @apply md:border-b-[3px] border-b-2 border-solid border-black outline-none;
  animation: fadeIn 0.5s ease;
}

.react-tabs__tab-panel--selected {
  @apply transition-all;

  animation: fadeIn 0.5s ease;
}
.react-tabs__tab-panel.react-tabs__tab-panel--selected {
  @apply h-full;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.progress-spinner-circle {
  stroke-dasharray: 89, 200;
  stroke-dashoffset: 0;
  animation: p-progress-spinner-dash 1.5s ease-in-out infinite,
    p-progress-spinner-color 6s ease-in-out infinite;
  stroke-linecap: round;
}

@keyframes p-progress-spinner-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
@keyframes p-progress-spinner-color {
  100%,
  0% {
    stroke: #ff5757;
  }
  40% {
    stroke: #696cff;
  }
  66% {
    stroke: #1ea97c;
  }
  80%,
  90% {
    stroke: #cc8925;
  }
}

.paginationBox {
  display: flex;
  justify-content: center;
  /* margin: 6vmax auto; */
  flex-wrap: wrap;
}

.pagination {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 3vmax 0;
  flex-wrap: wrap;
}

.page-item {
  background-color: rgb(255, 255, 255);
  list-style: none;
  border: 1px solid #101010;
  padding: 0.7vmax 1vmax;
  transition: all 0.3s;
  cursor: pointer;
}
.page-item:first-child {
  border-radius: 10px 0 0 10px;
}

.page-item:last-child {
  border-radius: 0 10px 10px 0;
}
.page-link {
  text-decoration: none;
  font: 300 0.9 vmax "Roboto";
  color: rgb(80, 80, 80);
  transition: all 0.3s;
}

.page-item:hover {
  background-color: rgb(230, 230, 230);
}

.page-item:hover .page-link {
  color: #101010;
}

.pageItemActive {
  background-color: #101010;
}

.pageLinkActive {
  color: white;
}

@media screen and (max-width: 600px) {
  .products {
    /* padding: 0 6vmax; */
  }

  .page-link {
    font: 300 1.7vmax "Roboto";
  }
  .category-link {
    font: 400 1.8vmax "Roboto";
  }
  .page-item {
    padding: 0.5vmax 1.5vmax;
  }
}
.pop-animation {
  animation: pop 0.3s ease-in-out;
  position: relative;
}
@keyframes pop {
  0% {
    transform: scale(0.8);
    /* top: -100%; */
  }
  100% {
    transform: scale(1);
    /* top: 0; */
  }
}
