@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  line-height: 1.5;
  min-height: 100vh;
  height: 100%;
  font-family: "Red Hat Display", sans-serif;
}
#root {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  overflow-x: hidden;
}
.hide-scroll::-webkit-scrollbar {
  display: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

input {
  outline: none;
}
textarea {
  resize: none;
}
.textarea::-webkit-scrollbar {
  display: none;
}
input::placeholder {
  white-space: normal;
}
.custom-scroll::-webkit-scrollbar {
  width: 07px;

}
.custom-scroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #acacac; 
  border-radius: 10px;
  height: 07px;

}
 
.custom-scroll::-webkit-scrollbar-thumb {
  background: #acacac; 
  border-radius: 10px;
 
}
.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: #E5E7EB; 
}

@media screen and (min-width: 768px) {
  .card-img:hover .ed-btn {
    bottom: 100% !important;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
  }
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  li{
    list-style-type: none;
  
  }
}
@layer components {
  .container {
    max-width: 1380px;
    margin: 0 auto;
  }
  .black-btn {
    @apply bg-black text-white w-full lg:text-xl  md:text-base md:font-bold font-semibold text-sm md:mx-auto lg:py-2 md:py-1 py-0.10 md:px-4 px-2 lg:rounded-md md:rounded-sm rounded-xs uppercase md:hover:shadow-2xl shadow-none md:cursor-pointer cursor-none item-center;
  }
  .item-center {
    @apply flex items-center justify-center;
  }
  .gray-btn {
    @apply capitalize small-btn-border-radius cursor w-full text-white bg-gray-500 hover:bg-gray-400 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium border-gray-300 text-sm px-5 py-2.5 text-center;
  }
  .blue-btn {
    @apply capitalize small-btn-border-radius cursor w-full text-white bg-black hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium border-gray-300 text-sm px-5 py-2.5 text-center;
  }
  .profile-edit-container {
    @apply bg-gray-200 lg:rounded-sm rounded-xs md:p-sm-ly-pad p-0.5 flex flex-col md:gap-0.10 gap-0.8;
  }
  .tab {
    @apply text-black flex-1 lg:px-1 md:px-sm-ly-pad px-0.8  lg:py-2 md:py-1 py-0.10 capitalize lg:text-xl md:text-base text-sm md:font-bold font-semibold lg:rounded-md rounded-1 outline-none md:cursor-pointer cursor-none;
  }
  .sub-tab {
    @apply text-black lg:p-1 md:p-0.10 p-0.5 capitalize lg:text-base md:text-sm text-xs md:font-bold font-semibold md:rounded-[30px] rounded-[20px] outline-none md:cursor-pointer cursor-none;
  }
  .underline-tab {
    @apply text-black text-nowrap lg:px-1 md:px-sm-ly-pad px-0.8  lg:py-2 md:py-1 py-0.10 capitalize lg:text-xl md:text-base text-sm md:font-bold font-semibold md:cursor-pointer cursor-none;
  }
}

@layer utilities {
  .page-container {
    @apply relative lg:min-h-[calc(100vh-122px)] h-auto m-auto md:min-h-[calc(100vh-114px)] min-h-[calc(100vh-50px)] bg-gray-100;
  }
  .page-container-without-bg {
    @apply relative lg:min-h-[calc(100vh-100px)] h-auto m-auto md:min-h-[calc(100vh-80px)] min-h-[calc(100vh-50px)];
  }
  .layout-box-shadow{
    @apply lg:shadow-xl md:shadow-lg shadow-md 
    
  }
  .layout-pad {
    @apply lg:p-ly-pad md:p-md-ly-pad p-sm-ly-pad;
  }
  .cursor {
    @apply md:cursor-pointer cursor-none;
  }

  .flex-between {
    @apply flex justify-between;
  }
  .pad-y {
    @apply py-4;
  }
  .pad-x {
    @apply px-4;
  }
  .fieldset-border {
    @apply relative lg:border-2 md:border-1 border-1 border-slate-gray border-solid md:rounded-sm  sm:rounded-xs rounded-[0px]  md:p-6 p-1 pt-2;
  }
  /* top-0 left-0 ml-3 lg:-mt-3 md:-mt-2  -mt-1 */
  .field-legend {
    @apply absolute  top-0 left-0 -translate-y-2/4 lg:ml-2 md:ml-1 ml-4xl capitalize lg:p-4xl md:p-3xl p-2xl  bg-slate-gray leading-none xl:text-lg lg:text-base md:text-sm text-xs xl:font-extrabold lg:font-bold md:font-semibold font-medium md:rounded-xs rounded-xxs;
  }
  .input-lable {
    @apply block  md:text-lg  text-sm font-medium text-primary  capitalize;
  }
  .modal-input-label {
    @apply block  md:text-base  text-sm font-medium text-primary  capitalize;
  }
  .border {
    @apply border-1 border-solid border-black;
  }
  .icon {
    @apply lg:text-2xl md:text-xl sm:text-sm text-xs cursor-pointer text-black-50;
  }
  .block_container {
    @apply h-full w-full item-center gap-1 flex-col bg-white shadow-2xl lg:p-2 md:p-1 p-0.5;
  }
  .left-label {
    @apply lg:text-lg md:text-base text-sm font-bold text-primary capitalize;
  }
  .edit-label {
    @apply md:text-sm text-xs font-medium text-blue-800 hover:underline  hover:underline-offset-4 cursor-pointer capitalize;
  }
  .desc-label {
    @apply md:text-base text-xs md:font-bold font-semibold text-light-gray;
  }
  .border-bottom {
    @apply border-b-2 border-solid border-slate-gray;
  }
  .flex-column {
    @apply flex md:flex-row flex-col;
  }
  .f-col {
    @apply flex flex-col;
  }

  .card-h {
    @apply min-h-[150px];
  }
  .nav-link {
    @apply text-black capitalize transition-all lg:text-2xl md:text-xl text-lg md:font-bold  font-semibold md:hover:text-gray-600 text-nowrap lg:w-auto w-full block lg:p-0 p-2 md:border-none border-b-[1px] border-slate-400;
  }
  .min-card-h {
    @apply lg:h-min-c-img-h md:h-md-min-c-img-h h-sm-min-c-img-h;
  }
  .card-text {
    @apply text-grey md:text-base text-sm font-medium capitalize;
  }
  .tag-text {
    @apply text-grey md:text-base text-sm font-medium capitalize bg-gray-300 lg:p-3xl md:p-2xl sm:p-xl p-lg leading-none rounded-1;
  }
  .info-label-gap {
    @apply flex md:gap-1 gap-sm;
  }
  .info-label-text-bold {
    @apply text-grey md:text-base sm:text-sm text-xs font-bold capitalize text-nowrap;
  }
  .info-label-text {
    @apply text-grey md:text-base sm:text-sm text-xs font-normal capitalize text-nowrap;
  }
  .gig-detail-heading{
    @apply md:text-base text-sm lg:font-bold md:font-semibold font-medium text-grey;
  }
  .white-shadow {
    @apply shadow-2xl bg-white;
  }
  .gray-circle {
    @apply bg-gray-300 lg:text-lg  text-sm rounded-full md:h-sm-img md:w-sm-img w-xs-img h-xs-img item-center md:cursor-pointer;
  }
  .menu-width {
    @apply xl:w-xl-menu-width lg:w-lg-menu-width md:w-md-menu-width w-sm-menu-width;
  }
  .alert-gap {
    @apply flex flex-col md:gap-sm gap-xs;
  }
  .small-btn-border-radius {
    @apply lg:rounded-sm md:rounded-xs rounded-xxs;
  }
  .gig-label {
    @apply lg:text-2xl md:text-xl text-lg lg:font-black md:font-extrabold font-bold text-black capitalize;
  }
  .gap {
    @apply lg:gap-1 md:gap-0.10 gap-0.8;
  }
  .t-cell {
    @apply relative md:border-2 border-1 border-solid border-gray-300 lg:p-4xl md:p-3xl p-xl capitalize text-black break-words h-full;
  }
  .t-cell-w {
    @apply relative md:border-2 border-1 border-solid border-gray-300 lg:p-4xl md:p-3xl p-xl capitalize text-black break-words h-full;
  }
  .t-head-font {
    @apply lg:text-base md:text-sm text-xs md:font-extrabold font-bold bg-gray-200;
  }
  .text-input {
    @apply bg-gray-50 border resize-none text-gray-900  small-btn-border-radius lg:indent-[47px] md:indent-[37px] indent-[30px] focus:ring-primary focus:border-primary block xl:text-xl lg:text-lg md:text-base text-sm md:font-extrabold font-bold w-full md:p-[7px] p-[5px] placeholder:text-gray-400 overflow-hidden;
  }
  .text-input-gig {
    @apply border-none outline-none focus:border-none focus:outline-none focus:ring-0 resize-none text-gray-900  block xl:text-base lg:text-sm text-xs md:font-semibold font-medium p-0 cursor placeholder:text-gray-400 w-11/12;
  }
  .text-input-with-border {
    @apply border border-primary resize-none text-gray-900  block xl:text-base lg:text-sm text-xs md:font-semibold font-medium md:p-2.5 p-1 small-btn-border-radius cursor placeholder:text-gray-400 w-full focus:ring-primary focus:border-primary;
  }
  .input-gig {
    @apply border border-primary text-primary  placeholder-gray-600  md:text-lg  text-sm small-btn-border-radius focus:ring-primary focus:border-primary capitalize block w-full md:p-2.5 p-1;
  }
  .gig-btn {
    @apply bg-black text-white lg:text-base  md:text-base md:font-bold font-semibold text-sm md:py-1 py-0.10 md:px-4 px-2 lg:rounded-md md:rounded-sm rounded-xs uppercase md:hover:shadow-2xl shadow-none md:cursor-pointer cursor-none;
  }
  .general-pad {
    @apply lg:p-1 md:p-0.10 p-0.8;
  }
  .chat-navlink{
    @apply flex gap w-full items-center bg-gray-300 p-0.5 md:rounded-sm rounded-xs cursor-pointer hover:bg-gray-400
  }
  .online-sign{
    @apply h-[9px] w-[9px]  block bg-green-400 rounded-full;
  
  }
}

.chat-navlink.active{
  @apply bg-gray-400;
}
@media screen and (max-width: 912px) {
  #root {
    /* position: relative; */
    overflow-y: auto;
    top: 0;
  }
}
.tab.react-tabs__tab--selected {
  @apply bg-black text-white transition-all;
  animation: fadeIn 0.5s ease;

  /* Adjust the duration and timing function as needed */
}
.sub-tab.react-tabs__tab--selected {
  @apply bg-black text-white transition-all;
  animation: fadeIn 0.5s ease;

  /* Adjust the duration and timing function as needed */
}
.underline-tab.active {
  @apply md:border-b-[3px] border-b-2 border-solid border-black outline-none;
  animation: fadeIn 0.5s ease;
}

.react-tabs__tab-panel--selected {
  @apply transition-all;

  animation: fadeIn 0.5s ease;
}
.react-tabs__tab-panel.react-tabs__tab-panel--selected {
  @apply h-full;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.progress-spinner-circle {
  stroke-dasharray: 89, 200;
  stroke-dashoffset: 0;
  animation: p-progress-spinner-dash 1.5s ease-in-out infinite,
    p-progress-spinner-color 6s ease-in-out infinite;
  stroke-linecap: round;
}

@keyframes p-progress-spinner-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
@keyframes p-progress-spinner-color {
  100%,
  0% {
    stroke: #ff5757;
  }
  40% {
    stroke: #696cff;
  }
  66% {
    stroke: #1ea97c;
  }
  80%,
  90% {
    stroke: #cc8925;
  }
}

.paginationBox {
  display: flex;
  justify-content: center;
  /* margin: 6vmax auto; */
  flex-wrap: wrap;
}

.pagination {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 3vmax 0;
  flex-wrap: wrap;
}

.page-item {
  background-color: rgb(255, 255, 255);
  list-style: none;
  border: 1px solid #101010;
  padding: 0.7vmax 1vmax;
  transition: all 0.3s;
  cursor: pointer;
}
.page-item:first-child {
  border-radius: 10px 0 0 10px;
}

.page-item:last-child {
  border-radius: 0 10px 10px 0;
}
.page-link {
  text-decoration: none;
  font: 300 0.9 vmax "Roboto";
  color: rgb(80, 80, 80);
  transition: all 0.3s;
}

.page-item:hover {
  background-color: rgb(230, 230, 230);
}

.page-item:hover .page-link {
  color: #101010;
}

.pageItemActive {
  background-color: #101010;
}

.pageLinkActive {
  color: white;
}

@media screen and (max-width: 600px) {
  .products {
    /* padding: 0 6vmax; */
  }

  .page-link {
    font: 300 1.7vmax "Roboto";
  }
  .category-link {
    font: 400 1.8vmax "Roboto";
  }
  .page-item {
    padding: 0.5vmax 1.5vmax;
  }
}

